:root{
    --siteColor : rgb(228, 103, 8);
    --textColor : rgb(250, 249, 249);
}

*{
    font-family: 'Special Elite', cursive;
}

h3 {
    color: var(--siteColor);
    font-size: 25px;
    margin-left: 20px;
}

.inputBox{
    display: grid;
    align-items: center;
    justify-content: center;
}

#savedElements{
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer{
    background-color: var(--siteColor);
    border:none;
    border-radius: 2px;
    height: 45px;
    width: auto;
    position:relative;
    bottom: 0px;
}

#saveIcon{
    width: 18px;
    height:18px;
    margin-left:25px;
}

.btn{
   width: 200px;
    height: 30px;
    background: var(--siteColor);
    color: var(--textColor);
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    border : none;
    border-radius: 10px;
    align-self:center;
    justify-self: center;
    transition: 50ms ease-in;
    justify-content: center;
    align-content:center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

#comment {
    width: 350px;
}

.messageBox{
    color:var(--textColor);
    border: none;
    border-radius: 10px;
    background-color: var(--siteColor);
    height:20px;
    justify-items: center;
    font-size: 12px;
    width: 100vw;
    text-align: center;
    padding: 10px;
    align-self: center;
}

.btn:hover{
    cursor: pointer;
    transition: 50ms ease-in;
    transform: scale(1.1);
    background: transparent;
    color: var(--siteColor);
    font-size: 12px;
    font-weight: bold;
    border : var(--siteColor) 1px solid;
    border-radius: 7px;
}

label{
    color: var(--textColor);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align:start;
}
.mainContainer{
    margin-top: 10px;
    height: 200px;
    overflow-x: hidden;
}

input{
    min-width: 300px;
    max-width: 380px;
    height: 25px;
    border-radius: 10px;
    border : var(--siteColor) 1px solid ;
    background: transparent;
    color: var(--textColor);
    transition: 50ms ease-in;
    text-align: center;
}

input:hover{
    cursor: pointer;
    transition: 50ms ease-in;
    transform: scale(1.1);
}

input:active{
    transition: 50ms ease-in;
    background-color: var(--siteColor);
}