:root{
    --siteColor : rgb(228, 103, 8);
    --textColor : rgb(250, 249, 249);
    --danger : rgba(250, 4, 4, 0.96);
    --success : rgb(170, 236, 14);
}

*{
    font-family: 'Special Elite', cursive;
}

body{
    background: rgba(8, 18, 21, 0.945);
    overflow:hidden;
}

h3 {
    color: var(--siteColor);
    font-size: 25px;
    margin-left: 20px;
}

.inputBox{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grid-layout{
    display: grid;
    overflow:hidden;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:auto auto auto auto  ;
    height: 100vh;
    width: 100vw;
}

#savedElements{
    display: flex;
}

.text{
    color: var(--textColor);
    text-align: center;
}

.kount{
    color: var(--siteColor);
}



.footer{
    background-color: var(--siteColor);
    border:none;
    border-radius: 2px;
    height: 35px;
    width: 80vw;
    position:absolute;
    bottom: 0px;
    align-self: center;
}

.item-1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: span 3;
}

.item-2{
    grid-row-start: 1;
    grid-column-start: 4;
    align-self: center;
    display: flex;
    padding: 0;
}

.item-3{
    grid-column-start: 4;
    grid-row-start: 2;
    width: max-content;
    align-self: center;
}


#saveIcon{
    width: 18px;
    height:18px;
    margin-left:25px;
}

.btn{
   width: 200px;
    height: 30px;
    background: var(--siteColor);
    color: var(--textColor);
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    border : none;
    border-radius: 10px;
    align-self:center;
    justify-self: center;
    transition: 50ms ease-in;
    justify-content: center;
    align-content:center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

#comment {
    width: 350px;
}

.messageBox{
    color:var(--textColor);
    border: none;
    border-radius: 10px;
    background-color: var(--siteColor);
    height:20px;
    justify-items: center;
    font-size: 12px;
    width: 100vw;
    text-align: center;
    padding: 10px;
    align-self: center;
}

.btn:hover{
    cursor: pointer;
    transition: 50ms ease-in;
    transform: scale(1.1);
    background: transparent;
    color: var(--siteColor);
    font-size: 12px;
    font-weight: bold;
    border : var(--siteColor) 1px solid;
    border-radius: 7px;
}

label{
    color: var(--textColor);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align:center;
}
.mainContainer{
    margin-top: 10px;
    height: 200px;
    overflow-x: hidden;
}

input{
    width: 380px;
    height: 25px;
    border-radius: 10px;
    border : var(--siteColor) 1px solid ;
    background: transparent;
    color: var(--textColor);
    transition: 50ms ease-in;
    text-align: center;
}

input:hover{
    cursor: pointer;
    transition: 50ms ease-in;
    transform: scale(1.1);
}

input:active{
    transition: 50ms ease-in;
    background-color: var(--siteColor);
}